/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

body {
  background-color: #141b3f;
}

.txt-align-center {
  text-align: center;
}

.line-height-16 {
  line-height: 1.6;
}

.margin-t-1x {
  margin-top: 1em;
}

.margin-t-2x {
  margin-top: 2em;
}

.margin-b-1x {
  margin-bottom: 1em;
}

.margin-b-2x {
  margin-bottom: 2em;
}

.padding-t-x5 {
  padding-top: .5em;
}

.padding-t-1x {
  padding-top: 1em;
}

.padding-b-x5 {
  padding-bottom: .5em;
}
.padding-b-1x {
  padding-bottom: 1em;
}

.border-bottom-brand-light {
  border-bottom: 1px solid #f5d109;
}

.font-size-15x {
  font-size: 1.5em
}

.font-size-2x {
  font-size: 2em
}

.font-size-25x {
  font-size: 2.5em
}

.font-size-3x {
  font-size: 3em
}

.font-color-brand-dark {
  color: #141b3f;
}

.font-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.font-baskerville-700 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.font-baskerville-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.font-copperplate-regular {
  font-family: copperplate, serif;
  font-style: normal;
}

.font-copperplate-bold {
  font-family: copperplate, serif;
  font-weight: bolder;
  font-style: normal;
}

.img-width-70p {
  width: 70%;
}

app-root {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

.intro {
  padding: 2em 0;
  border-top: 1px solid #f5d109;
  margin: 2em 0 0 0;
}

.mission {

  border-top: 1px solid #f5d109;
  padding: 2em 0;
  position: relative;

  .circle {
    display: block;
    background-color: #d3d1d0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    line-height: 25px;
    position: absolute;
    z-index: 1000;
    top: -12px;
    left: 50%;
  }

}